@page "/org/events/edit/{eventid:int}"
@using Meetups.WebApp.Features.DeleteEvent
@using Meetups.WebApp.Shared.ViewModels
@using Microsoft.AspNetCore.Authorization
@inherits BaseComponent

@inject NavigationManager NavigationManager
@inject EditEventService editEventService
@inject NavigationManager navigationManager
@attribute [Authorize(policy: "OrganizerOnly")]

<h3>Edit Event</h3>
@if (_eventViewModel is not null)
{
    <AddUpdateEventComponent EventViewModel="@_eventViewModel"
                             OnSaved="UpdateEvent"
                             errorMessage="@errorMessage"
                             ErrorMessageChanged="OnErrorMessageChanged">

        <ErrorMessageFragment>
            <ErrorMessageComponent ErrorMessage="@errorMessage" />
        </ErrorMessageFragment>
    </AddUpdateEventComponent>

    <br/>
    <DeleteEventComponent ButtonClass="btn btn-primary mt-2" EventViewModel="@_eventViewModel" OnDeleted="OnDeleted" />
}
else 
{
    if (errorMessage != null)
    {
        <ErrorMessageComponent ErrorMessage="@errorMessage" />
    }
    
}


@* <ConfirmDialogComponent @ref="confirmDialogComponent" />
 *@
@code {
    //private ConfirmDialogComponent? confirmDialogComponent;

    [Parameter]
    public int eventId { get; set; }
    public EventViewModel? _eventViewModel { get; set; }
    public string? errorMessage { get; set; }


    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _eventViewModel = await editEventService.GetEventForEditAsync(eventId);
            ValidateUserIsCreator(_eventViewModel?.OrganizerId);
            
            if (_eventViewModel == null)
            {
                errorMessage = "Event not found.";
                StateHasChanged();
                return;
            }

            // this.insert new ErrorMessageComponent().ErrorMessage = "Event not found.";



            StateHasChanged();
        }

    }

    private async Task OnErrorMessageChanged(string message)
    {
        errorMessage = message;
    }

    private async Task UpdateEvent()
    {
        if (_eventViewModel is null)
            return;

        // Logic to create the event goes here.
        // For now, we can just navigate back to the main page or show a success message.
        errorMessage = _eventViewModel.Validate();

        if (!string.IsNullOrEmpty(errorMessage))
        {
            return;
        }

        await editEventService.UpdateEventAsync(_eventViewModel);

        // Navigate to the main page after creation
        NavigationManager.NavigateTo("/org/events");




    }

    private async Task OnDeleted()
    {
        // confirmDialogComponent?.Show("Are you sure you want to delete this event?",
        // (sender) =>
        // {
        //     var aa = sender;
        // });

        navigationManager.NavigateTo("/org/events");
    }

    //validate the authenticated user is the creator of the event
    private void ValidateUserIsCreator(int? organizerId)
    {
        if (base.UserId != organizerId)
        {
            navigationManager.NavigateTo("/account/AccessDenied", forceLoad: true);
        }
    }

        }
    }

}
