@page "/"
@using Meetups.WebApp.Shared.ViewModels
@inherits BaseComponent

@inject NavigationManager NavigationManager
@inject DiscoverEventsService DiscoverEventsService
@inject SharedHelper sharedHelper

<h3>Events</h3>
<div class="container">
    <div class="row g-3">

        @if (_events?.Any() == true)
        {
            @foreach (var eventItem in _events)
            {
                var imageUrl = eventItem.ImageUrl ?? "/images/placeholder.png";

                <div class="col-lg-3 col-md-4 col-sm-6 col-12" @key="eventItem.EventId">
                    <a href="/events/@eventItem.EventId" class="text-decoration-none">
                        <div class="card border-0">
                            <img src="@imageUrl" class="card-img-top rounded-3"
                                 alt="@eventItem.Title" loading="lazy" decoding="async" />
                            <p class="mt-1 mb-0 text-muted">@($"{eventItem.BeginDate:MMM d(ddd)}") - @eventItem.BeginTime.ToString("HH:mm")</p>
                            <p class="card-title fw-bold">@eventItem.Title</p>

                        </div>
                    </a>
                </div>
            }
        }
        else
        {
            <p role="status" aria-live="polite">No events found. Try clearing filters or check back later.</p>
        }
    </div>



</div>


@code {

    private List<EventViewModel>? _events;

    //override OnParametersSetAsync()
    protected override async Task OnParametersSetAsync()
    {
        // Your logic here
        // var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        // var queryParams = System.Web.HttpUtility.ParseQueryString(uri.Query);
        // var filter = queryParams["search"] ?? "";

        var filter = sharedHelper.GetQueryParamValue("search");
        // Perform search logic here
        _events = await DiscoverEventsService.GetEventsAsync(filter);





        await base.OnParametersSetAsync();

    }

}
