@page "/events"
@using Meetups.WebApp.Features.CreateEvent
@using Meetups.WebApp.Shared.ViewModels
@using Microsoft.AspNetCore.Components.Authorization
@inject ViewCreatedEventsService ViewCreatedEventsService;

<h3>Created Events</h3>
<div>
    Total count: @totalCount
</div>

@if (createdEvents is not null && createdEvents.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                
                <th style="width:150px;text-align:center">Title</th>
                @* <th>Description</th> *@
                <th>Begin Time</th>
                <th>End Time</th>
                @* <th>Location</th> *@
                <th>Capacity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var eventItem in createdEvents)
            {
                <tr>
                    <td style="text-align:center">
                        <a href="/events/edit/@eventItem.EventId" class="btn btn-primary">
                            @{
                                var imageUrl = string.IsNullOrEmpty(eventItem.ImageUrl) ? "/images/placeholder.png" : eventItem.ImageUrl;
                                if (!string.IsNullOrEmpty(imageUrl))
                                {
                                    <img class="img-thumbnail" src="@imageUrl" alt="Event Image" style="width:100px" />
                                }
                                <br />
                                @eventItem.Title
                            }
                        </a>
                    </td>

                    
                    @* <td>@eventItem.Description</td> *@
                    <td>@eventItem.BeginDate @eventItem.BeginTime</td>
                    <td>@eventItem.EndDate  @eventItem.EndTime</td>
                    @* <td>@eventItem.Location</td> *@
                    <td>@(eventItem.Capacity==0?"Unlimited":eventItem.Capacity.ToString())</td>
                    <td>
                        <DeleteEventComponent ButtonClass="btn btn-link" EventViewModel="@eventItem" OnDeleted="OnDeleted" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@* <button class="btn btn-primary" @onclick="CreateEvent">Create Event</button> *@
<a href="/events/create" class="btn btn-primary">Create New Meetup</a>
@code {
    private int totalCount = 0;
    private List<EventViewModel> createdEvents = new();

    private void OnDeleted(int eventId)
    {
        if (createdEvents != null)
        {
            var deletedEvent = createdEvents.FirstOrDefault(e => e.EventId == eventId);
            if (deletedEvent != null)
            {
                createdEvents.Remove(deletedEvent);
                StateHasChanged();
            }
        }
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {   
            createdEvents = await ViewCreatedEventsService.GetAllEventsAsync();
            totalCount = createdEvents.Count;
            StateHasChanged();
        }
        
         //base.OnAfterRenderAsync(firstRender);    
    }

    protected override async Task OnInitializedAsync()
    {
        //createdEvents = await ViewCreatedEventsService.GetAllEventsAsync();
    }
        
}
